h1{
    color: rgb(220 138 39);
}
body{
    background-image: url(img/kek.png);
    background-color:  rgb(38 38 38);
    background-size: 1930px;
}

.cs2:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(220 138 39);
}

.cs2:focus{
    text-decoration: none;
    color: white;
    background-color: rgb(220 138 39);
}

.cs2:active{
    text-decoration: none;
    background-color: rgb(220 138 39);
}

.cs2link{
    text-decoration: none; 
    color: white;
}

a:active{
    text-decoration: none;
    color: black;
}

.cs2{
    background-color: rgb(220 138 39);
    text-decoration: none;
    color: white;
}

.steamlink:active{
    color: white;
    text-decoration: none;
}

.steamlink:hover{
    color: white;
    text-decoration: none;
}

.steamlink:focus{
    color: white;
    text-decoration: none;
}

.steamlink{
    color: white;
    text-decoration: none;
}

.steam{
    background-color: rgb(78, 134, 174);
    text-decoration: none;
    border-color: rgb(78, 134, 174);
}

.steam:focus{
    background-color: rgb(78, 134, 174);
    text-decoration: none;
    color: white;
    border-color: rgb(78, 134, 174);
}

.steam:active{
    background-color: rgb(78, 134, 174);
    text-decoration: none;
    color: white;
    border-color: rgb(78, 134, 174);
}

.steam:hover{
    background-color: rgb(78, 134, 174);
    color: white;
    border-color: rgb(78, 134, 174);
}




.egyes{
    color: white;
    margin-left: 480px;
    margin-top: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: gray;
    opacity: 0.85;
    padding-bottom: 10px;
    max-width: 50%;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.kettes{
    color: white;
    margin-left: 480px;
    margin-top: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: gray;
    opacity: 0.85;
    padding-bottom: 10px;
    max-width: 50%;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.hero {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s ease-out forwards;
}
@keyframes fadeInUp {
    from {
        opacity: 0.4;
        transform: translateY(50px);
    }
    to {
        opacity: 1.5;
        transform: translateY(0);
    }
}
.skibidi{
    color: white;
    margin-left: 480px;
    margin-top: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: gray;
    opacity: 0.85;
    padding-bottom: 10px;
    max-width: 50%;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 200px;
}

.skibidi_lista{
    list-style-type: none;
}

.kettes_lista{
    list-style-type: none;
}

#narancs{
    background-image: url(img/nrancshatterkep.png);
    width: 1903px;
    height: 900px;
}


.slide-in-left {
    position: relative;
    animation: slideIn 1s ease-out forwards;
    margin-top: 200px;
}

.slide-in-right{
    position: relative;
    animation: slideInright 1s ease-out forwards;
    margin-top: 200px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(50);
        opacity: 1;
    }
}

@keyframes slideInright {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(50); 
        opacity: 1;
    }
}
